automata-n8n/workflows/examples/google_sheets_to_slack.json
{
  "id": "gs-to-slack-001",
  "name": "Google Sheets to Slack Integration",
  "description": "Automatically send new Google Sheets data to a Slack channel with formatting",
  "nodes": [
    {
      "name": "Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "expression": "0 */6 * * *",
        "timezone": "UTC"
      }
    },
    {
      "name": "Get Sheet Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [580, 300],
      "parameters": {
        "spreadsheetId": "=YOUR_SPREADSHEET_ID",
        "range": "Sheet1!A1:D100",
        "options": {}
      }
    },
    {
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "functionCode": "const rows = $input.all();\nconst formatted = rows.map(row => {\n  return `• ${row.json.Column1} | ${row.json.Column2}`;\n}).join('\\n');\n\nreturn [{ json: { formatted_message: formatted } }];"
      }
    },
    {
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 3,
      "position": [1260, 300],
      "parameters": {
        "channel": "#data-updates",
        "messageType": "text",
        "text": "=📊 Sheet Update:\\n{{ $json.formatted_message }}"
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{ "node": "Get Sheet Data", "type": "main", "index": 0 }]]
    },
    "Get Sheet Data": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Send to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "gs-slack-v001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "instance-001"
  },
  "pinData": {},
  "staticData": {},
  "createdAt": "2025-11-20T00:00:00.000Z",
  "updatedAt": "2025-11-20T00:00:00.000Z",
  "tags": ["google-sheets", "slack", "integration", "automation"]
}
